<h1>Solar Products</h1>

{{#each product with category:solar}}
<div class="container">
  <div class="row">
    <div class="col">
      {{product.name}}
    </div>
    <div class="col">
      {{product.description}}
</div>
</div>
</div>
{{/each}}