
    <center>
        <section class="imgContainer">
    <div id="firstImage"></div>
    <div id="centered">Energy Refined</div>
    </section>
    <h1>Our Products</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col" id="text1">
            <a href = "/products"><img src="https://www.pngitem.com/pimgs/m/234-2345463_flame-flames-clipart-paper-fire-transparent-png-flames.png" alt="Heat" width="70%" height="70%"></a>

          </div>
          <div class="col" id="text1">
          Renewable Heat - This is an application of renewable energy referring to the generation of heat from renewable sources; for example, feeding radiators with water warmed by focused solar radiation rather than by a fossil fuel boiler. Renewable heat technologies include renewable biofuels, solar heating, geothermal heating, heat pumps and heat exchangers. Insulation is almost always an important factor in how renewable heating is implemented.
          <br>
          Heat products within this database will include, air source, ground source heat pumps, biomass boilers, and solar thermal.
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col" id="text2">
             <a href = "/products"><img src="https://www.pinclipart.com/picdir/big/565-5651972_solar-panel-png-sun-emoji-white-background-clipart.png" alt="Solar" width="90%" height="90%"></a>
          </div>
          <div class="col" id="text2">
            Solar - Solar heating is a style of building construction which uses the energy of summer or winter sunshine to provide an economic supply of primary or supplementary heat to a structure. The heat can be used for both space heating (see solar air heat) and water heating (see solar hot water). Solar heating design is divided into two groups:

Passive solar heating relies on the design and structure of the house to collect heat. Active solar heating uses pumps to move air or a liquid from the solar collector into the building or storage area. Applications such as solar air heating and solar water heating typically capture solar heat in panels which can then be used for applications such as space heating and supplementation of residential water heaters. In contrast to photovoltaic panels, which are used to generate electricity, solar heating panels are less expensive and capture a much higher proportion of the sun's energ
         </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col" id="text3">
             <a href = "/products"><img src="https://www.seekpng.com/png/detail/388-3881701_wind-turbine-clip-art.png" alt="Wind" width="90%", height="85%"></a>
        </div>
        <div class="col" id="text3">
            Wind - Wind power or wind energy is mostly the use of wind turbines to generate electricity. Historically, wind power has been used in sails, windmills and windpumps. Wind power is a popular, sustainable, renewable energy source that has a much smaller impact on the environment than burning fossil fuels.
        </div>
        </div>
      </div>
      </center>
