
    <center>
        <section class="imgContainer">
    <div id="firstImage"></div>
    <div id="centered">Energy Refined</div>
    </section>
    <h1>Our Products</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col" id="text1">
            <img src="https://www.pngitem.com/pimgs/m/234-2345463_flame-flames-clipart-paper-fire-transparent-png-flames.png" alt="Heat" width="70%" height="90%">
          </div>
          <div class="col" id="text1">
            Heat - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit omnis repellat, magni unde molestias nihil doloremque molestiae tempore ipsam rem excepturi voluptates. Animi dolore officiis eveniet at dolorum labore, blanditiis reprehenderit assumenda similique dignissimos nobis eos accusamus doloremque deserunt ducimus autem facilis pariatur sit quaerat beatae, sunt ipsa nam, doloribus nihil? Facere consectetur similique ipsam quisquam. Assumenda architecto est, voluptas quae repellendus nulla illum culpa ducimus similique tempore ad eum aliquam porro eveniet, sit modi vitae nobis velit aspernatur ratione. Accusamus labore voluptas quaerat et qui omnis, aliquam impedit quibusdam ipsa debitis earum veniam repellat eaque consequatur reprehenderit sint!
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col" id="text2">
            <img src="https://www.pinclipart.com/picdir/big/565-5651972_solar-panel-png-sun-emoji-white-background-clipart.png" alt="Solar" width="90%" height="90%">
          </div>
          <div class="col" id="text2">
            Solar - Lorem ipsum dolor sit amet consectetur adipisicing elit. Id inventore sit in consequatur quam sequi rem. Autem odio ducimus asperiores natus adipisci ab vero commodi omnis at, eveniet magnam beatae culpa atque ipsum tempore excepturi. Iusto, doloremque esse tempore alias dignissimos corporis eum magni magnam? Iste reprehenderit, vitae quisquam excepturi atque enim temporibus natus voluptates distinctio dignissimos adipisci commodi quidem provident fugiat magnam nobis ex eveniet iure. Facilis, praesentium assumenda quibusdam saepe tempora quia sed eos, nulla, error ducimus perferendis. Suscipit, excepturi sunt! At quod voluptatibus officiis nisi aliquid libero, reprehenderit error aliquam modi ducimus quidem magni minus maxime fuga. Exercitationem impedit officia esse quod quibusdam soluta ipsum, eaque ab cupiditate aut autem, consectetur repellat voluptas ipsa reiciendis. Earum corrupti adipisci a ipsam explicabo minima, dolorum, velit quia ut molestias consequatur tenetur commodi praesentium temporibus sint sunt totam, rem maiores? Officia perspiciatis dolorum saepe cum quisquam quo aspernatur ullam. Earum, magnam unde! Fugit dignissimos repellat, unde sit aliquid sed alias quod porro laudantium, beatae error magnam rerum officia! Esse eos quod enim iste. Iure necessitatibus tenetur aliquid voluptas accusamus! Totam asperiores placeat laboriosam exercitationem consequatur, voluptatibus natus aliquid a porro debitis perspiciatis repellat vel quae quam quidem soluta? Dignissimos, temporibus.
         </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col" id="text3">
            <img src="https://www.seekpng.com/png/detail/388-3881701_wind-turbine-clip-art.png" alt="Wind" width="90%", height="85%">
        </div>
        <div class="col" id="text3">
            Wind - Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est doloribus omnis error aliquid dignissimos temporibus alias aspernatur doloremque asperiores facilis, placeat fugit sunt molestiae quidem quibusdam numquam vel provident accusamus voluptas blanditiis magni. Perspiciatis accusantium iure est commodi. Commodi recusandae fuga sunt asperiores illum earum beatae, magni dignissimos reiciendis placeat repellendus autem molestias quis dolor rem enim deleniti voluptatem minus iure, obcaecati provident maiores. Magnam dicta qui quaerat delectus quasi dolor architecto placeat ratione temporibus aliquid esse culpa inventore totam necessitatibus adipisci sint, cumque mollitia assumenda doloribus illo iste aperiam eos ut! Provident natus, quis rerum sint quo consectetur.
        </div>
        </div>
      </div>
      </center>
