<h1 id="title">Select Product Category</h1>

<center>
<a href="/products/category/solar"><button id="choicebutton">Solar</button></a>
<a href="/products/category/wind"><button id="choicebutton">Wind</button></a> 
<a href="/products/category/heat"><button id="choicebutton">Heat</button> </a>
</center>