<h1 id="title">Which Product Would You Like To View?</h1>

<center>
<button id="choicebutton"><a href="/products/category/solar">Solar</a></button>
<button id="choicebutton"><a href="/products/category/wind">Wind</a></button> 
<button id="choicebutton"><a href="/products/category/heat">Heat</a></button> 
</center>