<h1 id="title">Which Product Would You Like To View?</h1>

<center>
<button id="choicebutton"><a href="/products/solar">Solar</a></button>
<button id="choicebutton"><a href="/products/wind">Wind</a></button> 
<button id="choicebutton"><a href="/products/heat">Heat</a></button> 
</center>